@media (min-width: 1000px) {
  .vsl-video {
    display: flex !important;
    justify-content: center !important;
    /* width: 400px !important; */
    /* height: 500px !important; */
    height: 100% !important;
    width: 600px !important;
    position: relative;
    align-self: baseline;
    border: none;
  }

  .vsl-video svg {
    /* width: 100% !important; */
    /* height: 100% !important; */
  }

  .smartplayer-mobile-container {
    max-width: 100% !important;
  }
  
  [class*="smartplayer"] {
    /* width: 100% !important; */
    /* height: 100% !important; */
  }

  .timer-hide {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
